<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> CONTACT US</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>CONTACT US</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- Contact-us Start -->
<section class="" id="map_con">
    <!-- leave comment sectopn starts-->
    <div class="comment_form map_form">
        <div class="text-xl-left">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 map_text">
                        <h3 class="title">LEAVE YOUR COMMENT</h3>
                        <p>If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit Intense in one of our comfortable offices.</p>
                        <div class="contect_info">
                            <div class="contect-title">
                                <h3 class="title">Information</h3>
                            </div>
                            <div class="contant-text">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Fiot Fashion Demo Store Demo Store India-3654123</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123-456-7898</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Email Us: Support@Fiot.com</li>
                                    <li><i class="fa fa-fax" aria-hidden="true"></i>Fax: 123456</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- leave comment sectopn starts-->
                    <div class="col-xl-8 center">
                        <div class="contect_form">
                            <div class="full_form">
                                <h3>LEAVE YOUR COMMENT</h3>
                                <form class="comment-form">
                                    <div class="row">
                                        <div class="form-field col-md-6 col-12">
                                            <input id="name" class="input-text js-input" required>
                                            <label class="label" for="name">Name</label>
                                        </div>
                                        <div class="form-field col-md-6 col-12">
                                            <input id="email" class="input-text js-input" required>
                                            <label class="label" for="email">E-mail</label>
                                        </div>
                                        <div class="form-field col-12">
                                            <textarea id="message" class="input-text js-input" required></textarea>
                                            <label class="label" for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="comment_btn">
                                        <a class="con_btn" href="#">
                                            Submit
                                            <span class="con_btn_eff"></span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- leave comment section end-->
                </div>
            </div>
        </div>
    </div>
    <!-- leave comment section end-->
</section>
<!-- Contact-us End -->
<section class="contect_map">
    <div class="container-fluid">
        <!------- map Start --------->
        <div class="row">
            <div class="col-md-12 map_space">
                <div class="map_frame">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.84740236122!2d72.79368811540397!3d21.198220087346442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e57e6183ee9%3A0x70c25b75b94f9fae!2sWebiots+-+Website+Design%2C+Web+Development%2C+SEO%2C+Mobile+App+Company+in+Surat!5e0!3m2!1sen!2sin!4v1548416369946" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!------- map End --------->
    </div>
</section>
