<!-- FAQ Start -->
<section id="faq" class="faq_section home_faq_2 home_faq_6">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="con_title con_title_2">
                  <h2>FAQ</h2>
                  <h6><span>our strenth</span></h6>
              </div>
          </div>
          <div class="col-md-6">
              <div class="faq_sec_title">
                  <h3>Frequently Asked Question</h3>
              </div>
              <div class="accordion faq_sec" id="accordionExample">
                  <div class="card">
                      <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Our company mission
                              </button>
                          </h5>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              <p>Lorem Ipsum is simply dummy text of the printing and type-setting industry.
                                  Lorem Ipsum has been the industry' standard dummy textever since the
                                  1500s, when an unknown printer took a galley of typeand scrambled it to
                                  a galley of typeand scrambled it to </p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Creative and powerful
                              </button>
                          </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                              <p>Lorem Ipsum is simply dummy text of the printing and type-setting industry.
                                  Lorem Ipsum has been the industry' standard dummy textever since the
                                  1500s, when an unknown printer took a galley of typeand scrambled it to
                                  a galley of typeand scrambled it to </p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Honest and dependable
                              </button>
                          </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                              <p>Lorem Ipsum is simply dummy text of the printing and type-setting industry.
                                  Lorem Ipsum has been the industry' standard dummy textever since the
                                  1500s, when an unknown printer took a galley of typeand scrambled it to
                                  a galley of typeand scrambled it to </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="faq_sec_two">
                  <div class="faq_sec_title">
                      <h3>Our Strength</h3>
                  </div>
                  <div class="faq_strength">
                      <div class="media">
                          <img class="img-fluid" src="assets/images/construction_6/faq-icon_2.png" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5>Advanced Technology</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus,
                                  aperiam consequuntur dolore</p>
                          </div>
                      </div>
                      <div class="media">
                          <img class="img-fluid" src="assets/images/construction_6/faq-icon_1.png" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5>Expert Team</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus,
                                  aperiam consequuntur dolore</p>
                          </div>
                      </div>
                      <div class="media">
                          <img class="img-fluid" src="assets/images/construction_6/faq-icon_3.png" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5>On Time Delivery</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus,
                                  aperiam consequuntur dolore</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- FAQ End -->