
<section id="coming-soon" class="coming-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <div>
                        <div class="content">
                            <h1>COMING SOON!</h1>
                            <div class="countdown">
                                <div class="countdown__days">
                                    <div class="number"></div>
                                    <span class>Days</span>
                                </div>
                                <div class="countdown__hours">
                                    <div class="number"></div>
                                    <span class>Hours</span>
                                </div>
                                <div class="countdown__minutes">
                                    <div class="number"></div>
                                    <span class>Minutes</span>
                                </div>
                                <div class="countdown__seconds">
                                    <div class="number"></div>
                                    <span class>Seconds</span>
                                </div>
                            </div>
                            <div class="form-text">
                                <div>
                                    <div class="text">
                                        <p>Our website is under construction. We`ll be here soon with our new awesome site. Subscribe to be notified.</p>
                                    </div>
                                    <div class="comment_form coming-soon">
                                        <form class="comment-form">
                                            <div class="row">
                                                <div class="form-field col-12">
                                                    <input id="name" class="input-text js-input" type="text" required>
                                                    <label class="label" for="name">Email</label>
                                                </div>
                                            </div>
                                            <div class="comment_btn">
                                                <a class="con_btn" href="#" >
                                                    Read More
                                                    <span class="con_btn_eff"></span>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="social">
                                <ul class="footer__links">
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
