<!-- Our Project Start -->
<section class="zoom-gallery">
  <div class="container-fluid our_project">
      <div class="row">
          <div class="col-12">
              <div class="con_title">
                  <h2>OUR project</h2>
                  <h6><span>WE ARE EXPERT IN</span></h6>
              </div>
          </div>
          <div class="col-12">
              <div id="formButton" class="mobile-btn">Filter<span class="according-menu"></span></div>
              <div class="center_tag" id="form1">
                  <div class="btn_center">
                      <button class="filter-button project_button active" data-filter="all">All</button>
                      <button class="filter-button project_button" data-filter="buildings">BUILDINGS</button>
                      <button class="filter-button project_button" data-filter="family">FAMILY</button>
                      <button class="filter-button project_button" data-filter="housegreen">HOUSEGREEN</button>
                      <button class="filter-button project_button" data-filter="building">BUILDING</button>
                      <button class="filter-button project_button" data-filter="interior">INTERIOR</button>
                      <button class="filter-button project_button" data-filter="Office">OFFICE</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row project_row">
          <div class="filter buildings ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/1.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/1.jpg" class="zoom_gallery"> <img src="assets/images/project-img/1.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter buildings ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/2.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/2.jpg" class="zoom_gallery"> <img src="assets/images/project-img/2.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter family ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/3.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/3.jpg" class="zoom_gallery"> <img src="assets/images/project-img/3.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter family ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/4.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/4.jpg" class="zoom_gallery"> <img src="assets/images/project-img/4.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter housegreen ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/5.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/5.jpg" class="zoom_gallery"> <img src="assets/images/project-img/5.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter building ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/6.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/6.jpg" class="zoom_gallery"> <img src="assets/images/project-img/6.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter interior ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/7.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/7.jpg" class="zoom_gallery"> <img src="assets/images/project-img/7.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter interior ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/8.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/8.jpg" class="zoom_gallery"> <img src="assets/images/project-img/8.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter interior ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/7.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/7.jpg" class="zoom_gallery"> <img src="assets/images/project-img/7.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter interior ">
              <figure class="snip_con">
                  <div class="img_shadow">
                      <img src="assets/images/project-img/8.jpg" alt="" class="img-fluid">
                  </div>
                  <figcaption>
                      <div class="text_pro">
                          <h4>Palm Bay, Florida</h4>
                          <h6>Our Work</h6>
                      </div>
                      <div class="link_icon">
                          <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                          <a href="assets/images/project-img/8.jpg" class="zoom_gallery"> <img src="assets/images/project-img/8.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </div>
                  </figcaption>
              </figure>
          </div>
      </div>
  </div>
</section>
<!-- Our Project End -->