<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>BLOG </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- News Start -->
<section class="home_1_news blog_side_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 blog_cat">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
            <div class="col-lg-9">
                <div class="blog_sec_side">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/4.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/1.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/2.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/3.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/4.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/5.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/6.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news_sec">
                                <figure class="snip_con">
                                    <img src="assets/images/blog/blog_single/7.jpg" alt="" class="img-fluid">
                                </figure>
                                <div class="text_p">
                                    <div class="date_sec">
                                        <div>
                                            <h4>25</h4>
                                            <h6>JULY</h6>
                                        </div>
                                    </div>
                                    <h4>Sandford stadium improvements</h4>
                                    <p>Lorem Ipsum is simply dummy text of the prin
                                        and type setting industry. Lorem Ipsum has</p>
                                    <h6 class="readmore"><a href="blog-details.html">Read More</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination Start -->
    <div class="pagination_sec">
        <div class="content_detail__pagination cdp">
            <a href="#" class="cdp_i"><i class="fa fa-angle-double-left" aria-hidden="true"></i>prev</a>
            <a href="#" class="cdp_i">1</a>
            <a href="#" class="cdp_i">2</a>
            <a href="#" class="cdp_i">3</a>
            <a href="#" class="cdp_i">next<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- pagination End -->
</section>
<!-- News Start -->
