<!-- Brand Start -->
<section class="brand_sec">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="con_title">
                  <h2>OUR CLIENT</h2>
                  <h6><span>HAPPY CLIENT</span></h6>
              </div>
          </div>
          <div class="col">  
                <owl-carousel [options]="myslideroption" [carouselClasses]="['brand_slide', 'owl-carousel', 'owl-theme']">
                  <div class="brand_1" *ngFor="let data of datas">
                      <img [src]="data.img" alt="">
                  </div>
            </owl-carousel>
      </div>
  </div>
  </div>
</section>
<!-- Brand End -->  
