<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> OUR SERVICES</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>OUR SERVICES</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- Our Service Start -->
<section id="service">
    <div class="container our_service">
        <div class="row">
            <div class="col-12">
                <div class="con_title">
                    <h2>OUR SERVICES</h2>
                    <h6><span>WE ARE EXPERT IN</span></h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/1.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/6.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/2.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/5.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/3.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/4.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/4.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/3.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/5.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/2.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our">
                    <figure class="snip_con">
                        <img src="assets/images/service-image/6.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of
                                    the printing and typesetting industry.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="service_content">
                        <img src="assets/images/service/1.png" class="img-fluid service_icon" alt="serviceimage" >
                        <h5>Building Information</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Service End -->