<!-- Breadcrumb Start -->
<div class="bread_crumb">
  <div class="container">
      <div class="row">
          <div class="col-md-6 sec_low">
              <div class="functionalities">
                  <ul id="breadcrumb" class="breadcrumb">
                      <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                      <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i>portfolio</strong></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6">
              <div class="page-title">
                  <h2>portfolio</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Start -->

<!-- section start -->
<section class="portfolio-section port-col zoom-gallery fullwidth-portfolio">
  <div class="filter-section">
        <app-portfolio-manu></app-portfolio-manu>
  </div>
  <div class="container-fluid">
      <div class="isotopeContainer row">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector shoes">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/1.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/1.jpg">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/2.jpg" data-source="http://500px.com/photo/32736307" title="Into The Blue" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/2.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector shoes">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/3.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/3.jpg">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/4.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/4.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/5.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/5.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/6.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/6.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/7.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/7.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector bags">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/8.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/8.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/9.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/9.jpg">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/10.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/10.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/11.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/11.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector bags">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/12.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/12.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/13.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/13.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/14.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/14.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/18.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/18.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector bag">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/19.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/19.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/20.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/20.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/21.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/21.jpg" >
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 isotopeSelector fashion">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/22.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" >
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img class="img-fluid" alt="" src="assets/images/portfolio/22.jpg" >
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- pagination Start -->
  <div class="pagination_sec">
      <div class="content_detail__pagination cdp">
          <a href="#" class="cdp_i"><i class="fa fa-angle-double-left" aria-hidden="true"></i>prev</a>
          <a href="#" class="cdp_i">1</a>
          <a href="#" class="cdp_i">2</a>
          <a href="#" class="cdp_i">3</a>
          <a href="#" class="cdp_i">next<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
  </div>
  <!-- pagination End -->
</section>
<!-- Section ends -->