<!-- Top-Section -->
<div class="top-contact tap-contact-3">
    <app-topbar></app-topbar>
</div>
<!--End-Top-Section-->

<!-- Nav Start -->
<nav class="navbar nav_3 navbar-expand-lg navbar-light theme-nav bg-white">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/images/construction_3/logo3.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="mymenu">
           <app-menu></app-menu>
        </ul>
        </div>
    </div>
</nav>
<!-- Nav end-->