<!-- Nav Start -->
<nav class="navbar nav_2 navbar-expand-lg navbar-light theme-nav landing-nav">
  <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/landing-logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="mymenu">
              <li class="nav-item">
                  <a class="nav-link" href="#demo-section">Demo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#gallery-section">Gallery</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#other-section">Other Pages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#Feature-section">Theme Feature</a>
              </li>
          </ul>
          <a class="con_btn menu-btn" href="#">
              Rate us
              <span class="con_btn_eff"></span>
          </a>
      </div>
  </div>
</nav>
<!-- Nav end-->

<!-- home section -->
<section class="back-img">
  <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="header-contain">
                      <div class="home-contain">
                          <div class="fadeInLeft-land-caption">
                              <img src="assets/images/landing-logo.png" alt="logo" class="main-logo">
                              <p class="landing-caption title">BUILDER CONSTRUCTION SERVICES</p>
                              <p class="font-class">A powerful theme for architecture construction Construct your website in the perfect ratio.</p>
                              <ul>
                                  <li><img src="assets/images/landing/html.png" class="img-fluid"></li>
                                  <li><img src="assets/images/landing/css.png" class="img-fluid"></li>
                                  <li><img src="assets/images/landing/bootstraop.png" class="img-fluid"></li>
                                  <li><img src="assets/images/landing/sass.png" class="img-fluid"></li>
                                  <li><img src="assets/images/landing/mailchimp.png" class="img-fluid"></li>
                              </ul>
                              <!--<div class="center_btn">-->
                                  <!--<a class="about_btn con_btn" id="section06">View Demo<span class="con_btn_eff"></span></a>-->
                              <!--</div>-->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="header-layout-img-set">
                      <img src="assets/images/landing/demo.png" alt="frame" class="img-header-layout">
                  </div>
              </div>
          </div>
  </div>
</section>
<!-- home section end -->

<!-- home demo section -->
<section class="fadinup" id="demo-section">
  <div class="container-fluid m-width">
      <div class="row">
          <div class="col-md-12">
              <h2 class="landing-title">demo</h2>
              <div class="border-shape"></div>
          </div>
          <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
              <p class="demo-description">Clean and clear designs makes websites differ from others. We've pre-build demo for giving you as much as flexibility in making your site unique.</p>
          </div>
      </div>
      <div class="row mt-35 landing-screen-animation">
          <div class="col-xl-4 col-lg-6 col-12 text-center">
              <div>
                  <a  [routerLink]="'/home/six'" target="_blank">
                      <span class="pc-bg">   
                        <span style="background-image: url('assets/images/demo/1.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Demo - 1</h2>
          </div>
          <div class="col-xl-4 col-lg-6 col-12 text-center">
              <div>
                  <a [routerLink]="'/home/two'" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/2.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Demo - 2</h2>
          </div>
          <div class="col-xl-4 col-lg-6 col-12 text-center">
              <div>
                  <a [routerLink]="'/home/three'" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/3.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Demo - 3</h2>
          </div>
          <div class="col-xl-4 col-lg-6 col-12 text-center offset-xl-2">
              <div>
                  <a [routerLink]="'/home/one'" target="_blank">
                      <span class="pc-bg">
                          <span style="background-image: url('assets/images/demo/4.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Demo - 4</h2>
          </div>
          <div class="col-xl-4 col-lg-6 col-12 text-center">
              <div>
                  <a href="theme/index-5.html" target="_blank">
                      <span class="pc-bg">
                          <span style="background-image: url('assets/images/demo/5.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Demo - 5</h2>
          </div>
      </div>
  </div>
</section>
<!-- home demo section end -->

<!-- other page section  -->
<section class="fadin-blog galley" id="gallery-section">
  <div class="container m-width">
      <div class="row">
          <div class="col-md-12">
              <h2 class="landing-title">Gallery Pages</h2>
              <div class="border-shape"></div>
          </div>
      </div>
      <div class="row mt-35 pages-space">
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/single-portfolio.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/1gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Single Portfolio</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/portfolio-3-grid.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/2gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Portfolio 3 Grid</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/portfolio-4-grid.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/3gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Portfolio 4 Grid</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/masonary-3-grid.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/4gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Masonary 3 Grid</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/masonary-4-grid.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/5gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Masonary 4 Grid</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/masonary-fullwidth.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/6gallery.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Masonary Fullwidth</h2>
          </div>
      </div>
  </div>
</section>
<!-- other page section end -->

<!-- other page section  -->
<section class="fadin-blog" id="other-section">
  <div class="container m-width">
      <div class="row">
          <div class="col-md-12">
              <h2 class="landing-title">Other Pages</h2>
              <div class="border-shape"></div>
          </div>
      </div>
      <div class="row mt-35 pages-space">
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/about-us.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/about-us.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">About Us</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/our-service.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/service.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Our Service</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/our-team.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/team.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Our Team</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blog.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-1.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 1</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blog-details.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-2.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 2</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blogs-leftside.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-3.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 3</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blogs-rightside.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-4.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 4</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blog-details-left-sidebar.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-5.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 5</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/blog-details-right-sidebar.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/blog-6.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">blog-details 6</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/contact-us.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/contact-us.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">CONTACT US</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/cooming-soon.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/cooming-soon.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">Coming Soon</h2>
          </div>
          <div class="col-lg-4 col-12 text-center">
              <div>
                  <a href="theme/404-page.html" target="_blank">
                      <span class="pc-bg">
                        <span style="background-image: url('assets/images/demo/error.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
              </div>
              <h2 class="demo-title">404 Not page</h2>
          </div>
      </div>
  </div>
</section>
<!-- other page section end -->

<!-- main feature section -->
<section id="Feature-section" class="features-bg mb-0">
  <div class="container m-width">
      <div class="row">
          <div class="col-md-12">
              <h2 class="landing-title">Theme Features</h2>
              <div class="border-shape"></div>
              <div class="mt-50">
                  <ul class="features m-0 p-0 fadeIn-features">
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/html5.png" class="img-fluid" alt="html5">
                              <h3 class="features-title">HTML 5</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/css-3.png" class="img-fluid" alt="css">
                              <h3 class="features-title">Css 3</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/saas.png" class="img-fluid" alt="Scss">
                              <h3 class="features-title">SCSS</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/ps.png" class="img-fluid" alt="PSD">
                              <h3 class="features-title"><span class="text-danger">Free</span> PSD Included</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/bootstrap-4.png" class="img-fluid" alt="bootstrap-4">
                              <h3 class="features-title">bootstrap 4</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/animate-css.png" class="img-fluid" alt="animate-css">
                              <h3 class="features-title">Animate css</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/responsive.png" class="img-fluid" alt="responsive">
                              <h3 class="features-title">Responsive</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/multiple-blog-layouts.png" class="img-fluid" alt="multiple-blog">
                              <h3 class="features-title">Multiple Blog Layouts</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/three-type-home-page.png" class="img-fluid" alt="three-homepage">
                              <h3 class="features-title">two type home page</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/google-fonts-support.png" class="img-fluid" alt="Google-fonts">
                              <h3 class="features-title">Google fonts support</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/w3c-validation.png" class="img-fluid" alt="w3c-validation">
                              <h3 class="features-title">W3C Validation</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/google-map.png" class="img-fluid" alt="Google-Map">
                              <h3 class="features-title">Google Map</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/pixel-perfect-design.png" class="img-fluid" alt="Pixel-Perfect">
                              <h3 class="features-title">Pixel Perfect Design</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/all-broweser-support.png" class="img-fluid" alt="browser-support">
                              <h3 class="features-title">all browser support </h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/typography.png" class="img-fluid" alt="Typography">
                              <h3 class="features-title">Typography</h3>
                          </div>
                      </li>
                      <li>
                          <div class="features-img">
                              <img src="assets/images/features/page.png" class="img-fluid" alt="pages">
                              <h3 class="features-title">15+ pages added</h3>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- main feature section end -->

<!-- template section  -->
<section class="template-bg download">
  <div class="container m-width">
      <div class="row">
          <div class="col-xl-5 offset-xl-1 col-md-6">
              <div class="tamp-d-flex">
                  <div class="center-sm ">
                      <h2 class="tapl-title fadeInLeft-land-caption">Stop thinking, Just grab it</h2>
                      <div class="center_btn">
                          <a class="about_btn con_btn" href="#">Download<span class="con_btn_eff"></span></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 offset-xl-1 col-md-6 ">
              <div class="garb-img">
                  <a href="theme/index.html"><img src="assets/images/demo/template.png" alt="template" class="img-fluid"></a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- template section end -->

<!-- Rate template section  -->
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="tamp-d-flex">
                  <div>
                      <p class="coming-title rating-title">If you love this template please rate us</p>
                      <div class="rating-star">
                          <img src="assets/images/star.png" alt="star">
                          <img src="assets/images/star.png" alt="star">
                          <img src="assets/images/star.png" alt="star">
                          <img src="assets/images/star.png" alt="star">
                          <img src="assets/images/star.png" alt="star">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Rate template section end -->

<!--Footer Section start-->
<div class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="copyright-section">
                  <p>2018-19 copyright by themeforest powered by pixelstrap <i class="fa fa-heart text-danger"></i></p>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Footer Section End-->
