<div class="container">
  <div class="row">
      <div class="col-lg-7 col-md-12">
          <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6 bdr_right">
                  <div class="call_us">
                      <div class="phone_img">
                        <img src="assets/images/head_phone.png" class="img-fluid" alt="">
                      </div>
                      <div class="con_text">
                          <h4>Call us</h4>
                          <h6>+1 123-456-7890</h6>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-6">
                  <div class="call_us">
                      <div class="phone_img msg">
                          <img src="assets/images/message_icon.png" class="img-fluid" alt="">
                      </div>
                      <div class="con_text">
                          <h4>Newsletter</h4>
                          <h6>Scrambled it to make a type book.</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-12">
          <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <div class="input-group form-group">
                  <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL" required="required" placeholder="Enter your email">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" id="mc-submit" type="submit">Subscribe</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>