<app-slider-one></app-slider-one>
<app-about-one></app-about-one>
<app-service-one></app-service-one>
<app-banner-one></app-banner-one>
<app-project-one></app-project-one>
<app-rating-one></app-rating-one>
<app-team-one></app-team-one>
<app-faq-one></app-faq-one>
<app-news-one></app-news-one>
<app-testimonial-one></app-testimonial-one>
<app-brand-one></app-brand-one>