

// Colors \\
$white: #ffffff;
$gray: #eeeeee;
$black: #000000;
$dark-font: #222222;
$color_tundora: #444444;
$color_tun: #333333;
$color_tapa: #777777;
$grey-about: #f7f7f7;
$color_team_back: #f5f5f5;
$color_footer: #a2a2a2;
$color_mountain_mist: #999999;
$color_gallery: #eeeeee;
$color_lg: #fafafa;
$foter_color: #292929;
$color_top: #22282e;
$color_down: #323232;
$light_white: #f1f1f1;
$sec_black: #242c33;
$two_black: #041c27;
$light_gray: #888888;
$grey5: #888888;
$grey2:#555555;
$border-grey: #f1f5f4;
$light_whites: #fafafa;
$border_gray: #dddddd;
$primary_color: #ffc412;
$star-yellow: #ffa200;
$foot_color: #202020;
$top_sec: #28343e;
$foot_txt: #181f25;
$footer_t: #03151d;
$comment_place: #dcdcdc;
$comment_text: #717171;
$news_sec: #202020;
$social_back: #2a2a2a;
$new_back: #282828;
$transition: all .5s ease;

// Fonts \\
$font_0: Poppins;
$font_1: sans-serif;
$font_2: FontAwesome;




