<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i>portfolio</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- Single-portfolio -->
<section class="single-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slide_1 owl-carousel owl-theme">
                    <div class="item">
                        <div class="portfolio_sec">
                            <img src="assets/images/portfolio/single/9.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio_sec">
                            <img src="assets/images/portfolio/single/7.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio_sec">
                            <img src="assets/images/portfolio/single/6.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="portfolio_sec">
                            <img src="assets/images/portfolio/single/8.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Project details</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi consectetur consequuntur exercitationem, in, maiores modi molestiae molestias natus nemo nulla perferendis recusandae repudiandae unde ut. Aliquam amet suscipit temporibus
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi consectetur consequuntur exercitationem, in, maiores modi molestiae molestias natus nemo nulla perferendis recusandae repudiandae unde ut. Aliquam amet suscipit temporibus</p>
                            <div class="portfolio-social">
                                <div class="post">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href=""><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="view">
                                    <a class="view-site" href="#">View Site <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 order-cls">
                            <h4>Details</h4>
                            <ul class="right-part">
                                <li><h5>date:</h5><span>13 feb, 2013</span></li>
                                <li><h5>completed:</h5><span>2015</span></li>
                                <li><h5>category:</h5><span>construction</span></li>
                                <li><h5>client:</h5><span>Build</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End-Single-portfolio -->

<!-- Our Project Start -->
<section class="project_home_two project_home_three zoom-gallery p-0">
    <div class="container-fluid our_project_2 our_project_3">
        <div class="row project_row">
            <div class="col-12">
                <div class="con_title con_title_3 portfolio">
                    <h2>Related Project</h2>
                    <h6><span>You might also like</span></h6>
                </div>
            </div>
            <div class="portfolio_slider owl-carousel owl-theme">
                <div class="filter building item">
                    <figure class="snip_con">
                        <img src="assets/images/construction_2/project/0.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <div>
                                <div class="link_icon">
                                    <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <a href="assets/images/construction_2/project/0.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/0.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                                <h5>Palm Bay, Florida</h5>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="filter family item">
                    <figure class="snip_con">
                        <img src="assets/images/construction_2/project/1.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <div>
                                <div class="link_icon">
                                    <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <a href="assets/images/construction_2/project/1.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/1.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                                <h5>Palm Bay, Florida</h5>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="filter family item">
                    <figure class="snip_con">
                        <img src="assets/images/construction_2/project/2.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <div>
                                <div class="link_icon">
                                    <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <a href="assets/images/construction_2/project/2.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/2.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                                <h5>Palm Bay, Florida</h5>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="filter buildings item">
                    <figure class="snip_con">
                        <img src="assets/images/construction_2/project/3.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <div>
                                <div class="link_icon">
                                    <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <a href="assets/images/construction_2/project/3.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/3.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                                <h5>Palm Bay, Florida</h5>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Project End -->