<div class="blog_sidebar">
    <div class="blog_side_title">
        <h6>About Us</h6>
    </div>
    <div class="about_blog">
        <div class="text_blog">
            <img src="assets/images/blog/about.jpg" alt="" class="img-fluid">
            <p>Lorem ipsum dolor sit amet ipsum dolor, consectetur adipisicing elit.</p>
            <div class="sign">
                <img src="assets/images/blog/sign.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="blog_side_title">
        <h6>RECENT POSTS</h6>
    </div>
    <div class="recent_post">
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/20.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/21.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/22.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/23.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
    </div>
    <div class="blog_side_title">
        <h6>CATEGORIES</h6>
    </div>
    <div class="blog_category">
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog classic</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Buildings</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Construction</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Interiors</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Technology</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Uncategorized</a>
    </div>
    <div class="blog_side_title">
        <h6>RECENT viewed</h6>
    </div>
    <div class="recent_post">
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/20.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/21.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/22.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
        <div class="r_post">
            <div class="r_post_img">
                <img src="assets/images/blog/23.jpg" class="" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="date">September 6, 2018</p>
            </div>
        </div>
    </div>
</div>