<app-slider-two></app-slider-two>
<app-about-two></app-about-two>
<app-service-two></app-service-two>
<app-banner-two></app-banner-two>
<app-project-two></app-project-two>
<app-rating-two></app-rating-two>
<app-team-two></app-team-two>
<app-faq-two></app-faq-two>
<app-news-two></app-news-two>
<app-testimonial-two></app-testimonial-two>
<app-brand-two></app-brand-two>