<!--  Slider_start  -->
<div class="home_slider home_2_slider home_6_slider">
  <owl-carousel [options]="mySlideOptions" [carouselClasses]="['slide_1', 'owl-carousel', 'owl-theme']" > 
      <div class="home_cun_slider_1 home17">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8">
                      <div class="slider_content">
                          <div>
                              <h3 class="home_2_title" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Welcome</h3>
                              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Build<span class="sec_two"> Construction</span></h1>
                              <h3 class="home2" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi
                                  labore atque ea officia delectus minima tenetur placeat ab, earum omnis at architecto
                                  quibusdam.</h3>
                              <a class="slider_btn_2 con_btn btn_2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight" href="#">
                                  READ MORE
                                  <span class="con_btn_eff"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="home_cun_slider_1 home18">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8">
                      <div class="slider_content">
                          <div>
                              <h3 class="home_2_title" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Welcome</h3>
                              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Build<span class="sec_two"> Construction</span></h1>
                              <h3 class="home2" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi
                                  labore atque ea officia delectus minima tenetur placeat ab, earum omnis at architecto
                                  quibusdam sapiente et totam. Nulla, non, voluptate.</h3>
                              <a class="slider_btn_2 con_btn btn_2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight" href="#">
                                  READ MORE
                                  <span class="con_btn_eff"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="home_cun_slider_1 home19">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8">
                      <div class="slider_content">
                          <div>
                              <h3 class="home_2_title" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Welcome</h3>
                              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Build<span class="sec_two"> Construction</span></h1>
                              <h3 class="home2" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi
                                  labore atque ea officia delectus minima tenetur placeat ab, earum omnis at architecto
                                  quibusdam sapiente et totam. Nulla, non, voluptate.</h3>
                              <a class="slider_btn_2 con_btn btn_2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight" href="#">
                                  READ MORE
                                  <span class="con_btn_eff"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </owl-carousel>
</div>
<!--  Slider_End  -->
