<app-header-one *ngIf="url !='/home/two' && url !='/home/six' && url !='/home/three'"></app-header-one>
<app-header-two *ngIf=" url !='/home/one' && url !='/home/three' && url !='/home/six' "></app-header-two>
<app-header-three *ngIf="url !='/home/six' && url !='/home/one' &&  url !='/home/two'" ></app-header-three>
<app-header-six *ngIf="url !='/home/one' && url !='/home/two' && url !='/home/three'"></app-header-six>

<router-outlet></router-outlet>
<app-footer></app-footer>