<!-- Our Service Start -->
<section id="service" class="our_service_vec">
  <div class="container our_service_2 our_service_6">
      <div class="row">
          <div class="col-12">
              <div class="con_title con_title_2">
                  <h2>OUR SERVICES</h2>
                  <h6><span>WE ARE EXPERT IN</span></h6>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6" *ngFor="let datas of data">
            <div class="service_our_2">
                <img [src]="datas.img" class="img-fluid" alt="serviceimage" >
                <div class="service_content">
                    <div class="service_title">
                        <h5>{{datas.heading}}</h5>
                        <div class="icon_bg">
                            <div class="center-content">
                                <img [src]="datas.icon" class="img-fluid service_icon" alt="serviceimage" >
                            </div>
                        </div>
                    </div>
                    <p>{{datas.description}}</p>
                    <a href="#">{{datas.link}}</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- Our Service End -->
