<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> OUR Team</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>OUR team</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- Our Team Start -->
<section class="home_1_team home_4_team team_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/1.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/2.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/3.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/3.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/2.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec team_sec_2">
                    <figure class="snip_con">
                        <img src="assets/images/team/1.jpg" class="img-fluid" alt="serviceimage" >
                        <figcaption>
                            <div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="team_content">
                        <h3>John Deo</h3>
                        <h6>Founder, CEO</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination Start -->
    <div class="pagination_sec">
        <div class="content_detail__pagination cdp">
            <a href="#" class="cdp_i"><i class="fa fa-angle-double-left" aria-hidden="true"></i>prev</a>
            <a href="#" class="cdp_i">1</a>
            <a href="#" class="cdp_i">2</a>
            <a href="#" class="cdp_i">3</a>
            <a href="#" class="cdp_i">next<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- pagination End -->
</section>
<!-- Our Team Start -->