
<!-- Breadcrumb Start -->
<div class="bread_crumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li></li>
                        <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a title="Home" href="blog.html"><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</strong></a></li>
                        <li class="active"><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog Details</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>BLOG DETAILS</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->

<!-- News Start -->
<section class="home_1_news blog_side_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="container">
                    <div class="row">
                        <!-- blog details starts-->
                        <div class="col-sm-12">
                            <div class="single_blog_item">
                                <div class="blog-block">
                                    <div class="blog-box">
                                        <div class="overflow-hidden"><img class="img-fluid" src="assets/images/blog/big_blog.jpg" alt="blog"></div>
                                    </div>
                                </div>
                                <div class="blog-text">
                                    <h6>July, 24th 2018</h6><a href="#">
                                    <h3 class="blog-head">Sandford Stadium Improvements</h3></a>
                                    <div class="blog-divider"></div>
                                    <div class="blog-description">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h5>Mark jkcno</h5>
                                        <h5 class="pull-right">10 <i class="fa fa-heart-o"></i>, 50 <i class="fa fa-comments-o"></i></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- blog details end-->
                    </div>
                </div>
                <!-- Comment Sec Start -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-header-comment">Comments :</h3>
                            <div class="comment-list blog_comment">
                                <div class="comment_sec">
                                    <article class="row">
                                        <div class="col-12">
                                            <div class="blog_center">
                                                <div>
                                                    <figure class="thumbnail">
                                                        <img src="assets/images/blog/blog_icon_1.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="blog_user arrow left">
                                                    <div class="panel-body">
                                                        <header class="text-left">
                                                            <div class="comment-user"><i class="fa fa-user"></i><h6>That Guy</h6></div>
                                                            <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6></div>
                                                        </header>
                                                        <div class="comment-post">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                        <a href="#" class="btn btn-default btn-sm right"><i class="fa fa-reply"></i> reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!--Comment Sec Start-->
                                    <article class="row">
                                        <div class="col-11 offset-1">
                                            <div class="blog_center re_comment">
                                                <div>
                                                    <figure class="thumbnail">
                                                        <img src="assets/images/blog/blog_icon_2.jpg" alt="" >
                                                    </figure>
                                                </div>
                                                <div class="blog_user arrow left">
                                                    <div class="panel-body">
                                                        <header class="text-left">
                                                            <div class="comment-user"><i class="fa fa-user"></i><h6> That Guy </h6></div>
                                                            <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6></div>
                                                        </header>
                                                        <div class="comment-post">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            </p>
                                                        </div>
                                                        <a href="#" class="btn btn-default btn-sm right"><i class="fa fa-reply"></i> reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!--Comment Sec End-->
                                </div>
                                <div class="comment_sec">
                                    <article class="row">
                                        <div class="col-12">
                                            <div class="blog_center">
                                                <div>
                                                    <figure class="thumbnail">
                                                        <img src="assets/images/blog/blog_icon_3.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="blog_user arrow left">
                                                    <div class="panel-body">
                                                        <header class="text-left">
                                                            <div class="comment-user"><i class="fa fa-user"></i><h6> That Guy </h6></div>
                                                            <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6></div>
                                                        </header>
                                                        <div class="comment-post">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                        <a href="#" class="btn btn-default btn-sm right"><i class="fa fa-reply"></i> reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="comment_sec">
                                    <article class="row">
                                        <div class="col-12">
                                            <div class="blog_center">
                                                <div>
                                                    <figure class="thumbnail">
                                                        <img src="assets/images/blog/blog_icon_2.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="blog_user arrow left">
                                                    <div class="panel-body">
                                                        <header class="text-left">
                                                            <div class="comment-user"><i class="fa fa-user"></i><h6> That Guy </h6></div>
                                                            <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6></div>
                                                        </header>
                                                        <div class="comment-post">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                        <a href="#" class="btn btn-default btn-sm right"><i class="fa fa-reply"></i> reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment Sec End -->
                <div class="quote_2 comment_form_sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 quote_form">
                                <hr/>
                                <h3 class="page-header-comment mb-4">Leave you comment :</h3>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Name :</label>
                                            <input type="text" class="form-control" placeholder="Enter Your Name" required="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email :</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Your Email" required="">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleTextarea">Message :</label>
                                            <textarea class="form-control msg_coment" id="exampleTextarea" rows="3" placeholder="Leave a Comment" required=""></textarea>
                                        </div>
                                    </div>
                                    <a class="quote_btn con_btn" href="#">
                                        Post Comment
                                        <span class="con_btn_eff"></span>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- leave comment section end-->
            </div>
            <div class="col-lg-3 blog_cat">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- News Start -->
