<!-- Banner Start -->
<section class="banner_project banner_project_2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bulder_cen">
                    <img src="assets/images/construction_2/bulder-2.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-12 bot_center">
                <div class="banner_text">
                    <div>
                        <h4 class="title">We Are Build</h4>
                        <h2><span>BUILD YOUR </span>DREAM HOME</h2>
                        <h4 class="text_since">COME TO THE WORLD SINCE 1809</h4>
                        <div class="center_btn">
                            <a class="about_btn con_btn btn_2" href="#">
                                View More
                                <span class="con_btn_eff"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->