<!-- Newsletter Start -->
<section class="newsletter_sec">
 <app-newsletter></app-newsletter>
</section>
<!-- Newsletter End -->


<!-- Footer Start -->
<footer class="home_2_footer">
        <div class="upper-section">
            <div class="container">
                <div class="row">
              <div class="col-lg-3 col-md-6">
                 <app-socialtag></app-socialtag>
              </div>
              <div class="col-lg-3 col-md-6">
                 <app-service></app-service>
              </div>
              <div class="col-lg-3 col-md-6">
                 <app-gallery></app-gallery>
              </div>
              <div class="col-lg-3 col-md-6">
                  <app-information></app-information>
              </div>
            </div>
        </div>
    </div>
  <!-- Copyright section Start -->
  <section class="copyright_sec">
     <app-copyrights></app-copyrights> 
  </section>
  <!-- Copyright section End -->
</footer>
<!-- Footer End -->


<!-- Tap on Top -->
<div class="tap-top top-cls fb-top">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
<!-- Tap on Ends -->