<!-- Breadcrumb Start -->
<div class="bread_crumb">
  <div class="container">
      <div class="row">
          <div class="col-md-6 sec_low">
              <div class="functionalities">
                  <ul id="breadcrumb" class="breadcrumb">
                      <li><a title="Home" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                      <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i>portfolio</strong></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6">
              <div class="page-title">
                  <h2>portfolio</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Start -->

<!-- Our Project Start -->
<section class="portfolio-section grid-portfolio zoom-gallery">
  <div class="container">
      <div class="center_tag" id="form2">
          <div class="btn_center">
              <button class="filter-button project_button active" data-filter="all">All</button>
              <button class="filter-button project_button" data-filter="fashion">Fashion</button>
              <button class="filter-button project_button" data-filter="bags">Bags</button>
              <button class="filter-button project_button" data-filter="shoes">Shoes</button>
              <button class="filter-button project_button" data-filter="watch">Watch</button>
          </div>
      </div>
      <div class="row">
          <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/1.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/1.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter shoes col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/2.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/2.jpg" class="b-top img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/3.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/3.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/4.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/4.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/5.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/5.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter watch col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/6.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/6.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/7.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/7.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/8.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/8.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/9.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/9.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter shoes col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/10.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/10.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter bags col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/11.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/11.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
              <div class="overlay">
                  <div class="border-portfolio">
                      <a class="zoom_gallery" href="assets/images/portfolio/grid/12.jpg" data-source="http://500px.com/photo/32554131">
                          <div class="overlay-background">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                          <img src="assets/images/portfolio/grid/12.jpg" class="img-fluid" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- pagination Start -->
  <div class="pagination_sec pagination_portfolio">
      <div class="content_detail__pagination cdp">
          <a href="#" class="cdp_i"><i class="fa fa-angle-double-left" aria-hidden="true"></i>prev</a>
          <a href="#" class="cdp_i">1</a>
          <a href="#" class="cdp_i">2</a>
          <a href="#" class="cdp_i">3</a>
          <a href="#" class="cdp_i">next<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
  </div>
  <!-- pagination End -->
</section>
<!-- Our Project End -->
