
<!-- Rating Start -->
<section id="rating" class="rating_sec">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-6">
              <div class="rating_cls">
                  <div>
                      <img src="assets/images/project-icon/1.png" alt="">
                      <h2 class="counter">345</h2>
                      <h5>PROJECTS</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="rating_cls">
                  <div>
                      <img src="assets/images/project-icon/2.png" alt="">
                      <h2 class="counter">1298</h2>
                      <h5>HAPPY CLIENTS</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="rating_cls">
                  <div>
                      <img src="assets/images/project-icon/3.png" alt="">
                      <h2 class="counter">325</h2>
                      <h5>QUALIFIED STAFF</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="rating_cls">
                  <div>
                      <img src="assets/images/project-icon/4.png" alt="">
                      <h2 class="counter">3159</h2>
                      <h5>MACHINERIES</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Rating End -->