
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
      <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link" [routerLink]="'/home/six'">Main Home - 1</a></li>
          <li class="nav-item"><a class="nav-link"  [routerLink]="'/home/two'">Main Home - 2</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="'/home/three'">Main Home - 3</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="'/home/one'">Main Home - 4</a></li>
          <li class="nav-item"><a class="nav-link" href="index-5.html">Main Home - 5</a></li>
      </ul>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="about-us.html">About</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="our-service.html">Service</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="our-team.html">Team</a>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="blog.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
      <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link" href="single-portfolio.html">single portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="portfolio-3-grid.html">portfolio - 3 - grid</a></li>
          <li class="nav-item"><a class="nav-link" href="portfolio-4-grid.html">portfolio - 4 - grid</a></li>
          <li class="nav-item"><a class="nav-link" href="masonary-3-grid.html">masonary - 3 - grid</a></li>
          <li class="nav-item"><a class="nav-link" href="masonary-4-grid.html">masonary - 4 - grid</a></li>
          <li class="nav-item"><a class="nav-link" href="masonary-fullwidth.html">masonary - fullwidth</a></li>
      </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="blog.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
      <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link" href="blog.html">blog list</a></li>
          <li class="nav-item"><a class="nav-link" href="blog-details.html">blog details</a></li>
          <li class="nav-item"><a class="nav-link" href="blogs-leftside.html">leftsidebar</a></li>
          <li class="nav-item"><a class="nav-link" href="blogs-rightside.html">rightsidebar</a></li>
          <li class="nav-item"><a class="nav-link" href="blog-details-left-sidebar.html">details leftsidebar</a></li>
          <li class="nav-item"><a class="nav-link" href="blog-details-right-sidebar.html">details rightsidebar</a></li>
      </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
      <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact us</a></li>
          <li class="nav-item"><a class="nav-link" href="cooming-soon.html">Coming soon</a></li>
          <li class="nav-item"><a class="nav-link" href="404-page.html">404 page</a></li>
      </ul>
  </li>
