
<section id="error_page" class="back_error">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="not_found">
                    <div class="text-center">
                        <img src="assets/images/404-page.gif" alt="" class="img-fluid">
                        <h1>NOT FOUND</h1>
                        <p>The Page You Are Attempting To Reach Is Currently Not Available. This May Be Because The Page Does Not Exist Or Has Been Moved.</p>
                        <div class="error_text">
                            <div>
                                <div class="btn_error">
                                    <a class="slider_btn con_btn" href="index.html">
                                        Back to home page
                                        <span class="con_btn_eff"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>