<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                  <li class="active"><a href="#" data-filter="*">All</a></li>
                  <li><a href="#" data-filter=".fashion">Fashion</a></li>
                  <li><a href="#" data-filter=".bags">Bags</a></li>
                  <li><a href="#" data-filter=".shoes">Shoes</a></li>
                  <li><a href="#" data-filter=".watch">Watch</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>