<div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cop_p">
                    <p>2018 - 19 Copy Right by Themeforest Powered by PixelStrap</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="copy_link">
                    <ul>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>