<div class="footer_first">
        <div class="footer-title mobile-title">
            <h3>About Us</h3>
        </div>
        <div class="footer-contant">
            <img src="assets/images/construction_2/logo2.png" class="foot_logo" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and
                type-setting industry. Lorem Ipsum has been the
                industry's standard dummy</p>
            <div class="footer_social">
                <div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>