<!-- Our Project Start -->
<section class="project_home_two zoom-gallery">
  <div class="container-fluid our_project_2">
      <div class="row">
          <div class="col-12">
              <div class="con_title con_title_2">
                  <h2>OUR project</h2>
                  <h6><span>WE ARE EXPERT IN</span></h6>
              </div>
          </div>
          <div class="col-12">
              <div id="formButton" class="mobile-btn">Filter<span class="according-menu"></span></div>
              <div class="center_tag" id="form1">
                  <div class="btn_center">
                      <button class="filter-button project_button active" data-filter="all">All</button>
                      <button class="filter-button project_button" data-filter="buildings">BUILDINGS</button>
                      <button class="filter-button project_button" data-filter="family">FAMILY</button>
                      <button class="filter-button project_button" data-filter="housegreen">HOUSEGREEN</button>
                      <button class="filter-button project_button" data-filter="building">BUILDING</button>
                      <button class="filter-button project_button" data-filter="interior">INTERIOR</button>
                      <button class="filter-button project_button" data-filter="Office">OFFICE</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row project_row">
          <div class="filter building col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/0.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/0.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/0.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter family col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/1.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/1.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/1.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter family col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/2.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/2.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/2.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter buildings col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/3.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/3.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/3.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter housegreen col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/4.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/4.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/4.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter family col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/5.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/5.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/5.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter housegreen col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/6.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/6.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/6.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="filter building col-md-3 col-sm-6">
              <figure class="snip_con">
                  <img src="assets/images/construction_2/project/7.jpg" alt="" class="img-fluid">
                  <figcaption>
                      <div>
                          <div class="link_icon">
                              <a href="single-portfolio.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="assets/images/construction_2/project/7.jpg" class="zoom_gallery"> <img src="assets/images/construction_2/project/7.jpg" alt="" class="d-none img-fluid"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          </div>
                          <h5>Palm Bay, Florida</h5>
                      </div>
                  </figcaption>
              </figure>
          </div>
      </div>
  </div>
</section>
<!-- Our Project End -->