
<!--  Slider_start  -->
<div class="home_slider">
  <owl-carousel [options]="mySlideOptions" [carouselClasses]="['slide_1', 'owl-carousel', 'owl-theme']" > 
      <div class="home1 home_cun_slider_1">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8 col-md-9">
                      <div class="slider_content">
                          <div>
                            <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp" class="top">We Plan Your Big</h1>
                            <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp" ><span class="sec_one">Dreams</span></h1>
                            <h3 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" >An unknown printer took a galley of type and scrambled it
                                to make a type specimen book.</h3>
                            <a class="slider_btn con_btn" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" href="#">
                                Read more
                                <span class="con_btn_eff"></span>
                            </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="home2 home_cun_slider_1">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8 col-md-9">
                      <div class="slider_content">
                          <div>
                              <h1 data-animation-in="animated bounceInDown" data-animation-out="animate-out slideOutUp" class="top">We Plan Your Big</h1>
                              <h1 data-animation-in="animated bounceInDown" data-animation-out="animate-out slideOutUp" ><span class="sec_one">Dreams</span></h1>
                              <h3 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" >An unknown printer took a galley of type and scrambled it
                                  to make a type specimen book.</h3>
                              <a class="slider_btn con_btn" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" href="#">
                                  Read more
                                  <span class="con_btn_eff"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="home3 home_cun_slider_1">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8 col-md-9">
                      <div class="slider_content">
                          <div>
                              <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp" class="top">We Plan Your Big</h1>
                              <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp" ><span class="sec_one">Dreams</span></h1>
                              <h3 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" >An unknown printer took a galley of type and scrambled it
                                  to make a type specimen book.</h3>
                              <a class="slider_btn con_btn" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" href="#">
                                  Read more
                                  <span class="con_btn_eff"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </owl-carousel>
</div>
<!--  Slider_End  -->