<!-- Top-Section -->
<div class="top-contact tap-contact-2">
<app-topbar></app-topbar>
</div>
<!--End-Top-Section-->


<!-- Nav Start -->
<nav class="navbar nav_2 navbar-expand-lg navbar-light theme-nav" [class.fixed-top]="fixedtop">
  <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/construction_2/logo2.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent">
        <app-menu></app-menu>
          <a class="con_btn menu-btn btn_2" href="#">
              Get a Quote
              <span class="con_btn_eff"></span>
          </a>
      </div>
  </div>
</nav>
<!-- Nav end-->