<!-- Top-Section -->
<div class="top-contact">
<app-topbar></app-topbar>
</div>
<!--End-Top-Section-->

<!-- Nav Start -->
<nav class="navbar navbar-expand-lg navbar-light theme-nav bg-white" [class.fixed-top]="fixedtop">
  <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent">
              <app-menu></app-menu>
          <a class=" con_btn menu-btn" href="#">
              Get a Quote
              <span class="con_btn_eff"></span>
          </a>
      </div>
  </div>
</nav>
<!-- Nav end-->